.container{
    background: whitesmoke;
    position: absolute;
    margin-left: 500px;
    margin-top: 35px;
    margin-bottom: 40px;
    width: max-content;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

.heading{
    text-align: center;
}

#input{
    width: 300px;
    margin: 10px;
    font-size: large;
    font-weight: bold;
}
li {
    list-style:circle inside black;
    background-color:lightblue;
    padding: 10px ;
    border: 1px solid #CCC;
    margin-bottom: 5px;
    width: 87%;
    cursor: pointer;
    border-radius: 3px;
} 

li:hover{
    background-color: teal;
}

.submit{
    margin-top: 20px;
    text-align: center;
    font-weight:bolder;
    font-size: large;
    font-style: italic;
}


