.head {
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 15px;
    border-right: 1.5px solid whitesmoke;
    text-align: center;
  }

  .navbar{
    background-color: #47BCBD;
    margin-left: 140px; 
  }
  
  .nav-link{
    font-size: 1.2em;
    color: whitesmoke;
  }


  .sidenav {
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background:whitesmoke;
    overflow-x: hidden;
    padding: 60px 0;
    height: 100%;

  }
  
  .sidenav a {
    padding: 6px 8px 15px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: 600;
    display: block;
  }
  
  .sidenav a:hover {
    color: #0876d1;
  }

  @media screen and (max-width:1024px){
    .navbar{
      width: 100%;
    }
  }

