.head {
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 15px;
    border-right: 1.5px solid whitesmoke;
    text-align: center;
  }

  .navbar{
    background-color: #47BCBD;
    margin-left: 140px; 
  }
  
  .nav-link{
    font-size: 1.2em;
    color: whitesmoke;
  }

  @media screen and (max-width:1024px){
    .navbar{
      width: 100%;
    }
  }

